.header-text {
    text-align: center;
}

.p-card {
  max-width: 550px;
  margin: 7em auto;
  font-size: smaller;
}

.p-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.my-button{
    background-color: var(--p-slate-700); 
    border: none;
    display: block;
    margin: auto;
}